<style>

    html,
    body {
        height: 100%;
    }
    html {
        display: table;
        margin: auto;
    }
    body {
        display: table-cell;
        vertical-align: middle;
        background: #aaaaaa;
    }

    #login-page {
        width: 400px;
    }

</style>
<div class="col s12 z-depth-6 card-panel">
        <h1 class="header center teal-text  ">Drone Cafe</h1><hr />
        <form class="login-form" name="loginForm">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">perm_identity</i>
                    <input class="validate" id="name" type="text" ng-model="user.name" required >
                    <label for="email" data-error="wrong" data-success="ok">Имя</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate" id="email" type="email" ng-model="user.email" required>
                    <label for="email" data-error="wrong" data-success="ok">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light col s12" type="submit" name="action" ng-click="login()" data-ng-disabled="loginForm.$invalid">Вход
                    </button>

                </div>
            </div>

        </form>
    </div>