<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div class="alert alert-success" role="alert" ng-if="updateSuccess">Покемон {{user.id}} обновился!</div>

<form name="userForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="user.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Логин</label>
        <input class="form-control" ng-model="user.username" type="text" placeholder="Логин">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" ng-model="user.email" type="text" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-default" ng-click="updateUser()" ng-disabled="userForm.$invalid">Обновить</button>
</form>
